.navbar, footer {
  background-color: #343A40 !important; }
  .navbar a, footer a {
    color: #E9ECEF !important; }

main {
  background: #DEE2E6; }
  main div .carousel-inner {
    margin-top: 50px;
    height: 800px; }
  main .cards-varias {
    margin-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    text-align: center; }
    main .cards-varias .card-img-top {
      height: 250px; }
  main .card-body {
    background-color: #E9ECEF; }
    main .card-body .btn {
      background-color: #343A40;
      color: #E9ECEF; }
  main .text-h1 {
    padding-top: 10px;
    text-align: center; }
  main .tittle {
    padding-top: 75px;
    text-align: center; }
  main .productos {
    justify-content: space-evenly;
    text-align: center;
    padding: 10px; }
    main .productos .card-img-top {
      height: 350px; }
  main .sobre-mi {
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px; }
    main .sobre-mi .foto-mia {
      width: 300px;
      height: 400px; }
    main .sobre-mi .main-text {
      margin: 30px; }
  main .main-in3 {
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px; }
  main .main-ubi {
    justify-content: space-around; }
    main .main-ubi .ubi-fotos-local {
      height: 400px;
      width: 600px;
      padding-top: 20px; }
  main .main-ubi-2 {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px; }
  main .texto-inicial {
    text-align: center;
    padding-top: 25%;
    color: #DEE2E6; }
  main section .hot-sale {
    justify-content: center; }

footer {
  text-align: center; }
  footer p {
    margin-bottom: 0;
    color: #E9ECEF; }

@media (max-width: 1580px) {
  main div .carousel-inner {
    height: 500px; }
  main .cards-varias {
    flex-wrap: wrap; }
  main section .hot-sale {
    height: 200px;
    width: 200px; }
  main .main-ubi {
    flex-wrap: wrap;
    padding-bottom: 20px; }
    main .main-ubi .ubi-fotos-local {
      height: 300px;
      width: 500px; } }

@media (max-width: 850px) {
  main div .carousel-inner {
    height: 200px; }
  main div .carousel-indicators {
    margin-bottom: 20px; }
  main .card {
    margin-top: 30px;
    margin-bottom: 30px; }
  main .mensaje {
    padding-bottom: 110px; }
  main section .hot-sale {
    height: 200px;
    width: 200px; }
  main .main-ubi {
    flex-wrap: wrap;
    padding-bottom: 20px; }
    main .main-ubi .ubi-fotos-local {
      height: 200px;
      width: 300px; } }

@media (max-width: 850px) {
  main .productos {
    flex-wrap: wrap; }
  main .sobre-mi {
    flex-direction: column; }
  main section .hot-sale {
    height: 200px;
    width: 200px; }
  main .main-ubi {
    flex-wrap: wrap;
    padding-bottom: 20px; }
    main .main-ubi .ubi-fotos-local {
      height: 200px;
      width: 300px; } }

* {
  margin: 0px;
  padding: 0px; }

body .index {
  background: url(../img/carousel-1.jpg) no-repeat center center/cover;
  width: 100%;
  height: 100vh; }
  body .index a {
    background-color: #343A40;
    color: #E9ECEF; }
  body .index .home {
    justify-content: center; }
