* {
  margin: 0px;
  padding: 0px; }

.navbar, footer {
  background-color: #343A40 !important; }
  .navbar a, footer a {
    color: #E9ECEF !important; }

main {
  background: #DEE2E6;
  padding-bottom: 20px; }
  main div .carousel-inner {
    margin-top: 50px;
    height: 887px; }
  main .cards-varias {
    margin-top: 20px;
    justify-content: space-evenly;
    text-align: center; }
  main .card-body {
    background-color: #E9ECEF; }
    main .card-body .btn {
      background-color: #343A40;
      color: #E9ECEF; }
  main .text-h1 {
    padding-top: 10px;
    text-align: center; }
  main .tittle {
    padding-top: 75px;
    text-align: center; }
  main .productos {
    justify-content: space-evenly;
    text-align: center;
    padding: 10px; }
  main .sobre-mi {
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 18.85%; }
    main .sobre-mi .foto-mia {
      width: 300px;
      height: 400px; }
    main .sobre-mi .main-text {
      margin: 30px; }
  main .main-in3 {
    padding-bottom: 23.75%; }
  main .main-ubi {
    justify-content: center; }
  main .main-ubi-2 {
    padding-bottom: 15.93%; }
  main iframe {
    width: 400px;
    height: 300px; }

footer {
  text-align: center; }
  footer p {
    margin-bottom: 0;
    color: #E9ECEF; }

/* media queries */
@media (max-width: 1580px) {
  main div .carousel-inner {
    height: 500px; }
  main .cards-varias {
    flex-wrap: wrap; } }

@media (max-width: 850px) {
  main div .carousel-inner {
    height: 200px; }
  main div .carousel-indicators {
    margin-bottom: 20px; }
  main .card {
    margin-top: 30px;
    margin-bottom: 30px; }
  main .mensaje {
    padding-bottom: 110px; } }

@media (max-width: 850px) {
  main .productos {
    flex-wrap: wrap; }
  main .sobre-mi {
    flex-direction: column; } }
