@import "variables";

* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: $color-primary !important;
        a {
            color: $color-secundary !important;
        }
}

main {
    background: $color-background;
    padding-bottom: 20px;
    div {
        .carousel-inner {
            margin-top: 50px;
            height: 887px;
        }
        
    }
    .cards-varias {
        margin-top: 20px;
        justify-content: space-evenly;
        text-align: center;
    }
    .card-body {
        background-color: $color-secundary;
        .btn {
            background-color: $color-primary;
            color: $color-secundary;
        }
    }
    .text-h1 {
        padding-top: 10px;
        text-align: center;
    }
    .tittle {
        padding-top: 75px;
        text-align: center;
    }
    .productos {
            justify-content: space-evenly;
            text-align: center;
            padding: 10px;
    }
    .sobre-mi {
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 18.85%;
        .foto-mia {
            width: 300px;
            height: 400px;
        }
        .main-text {
            margin: 30px;
        }
    }
    .main-in3 {
        padding-bottom: 23.75%;
    }
    .main-ubi {
        justify-content: center;
    }
    .main-ubi-2 {
        padding-bottom: 15.93%;
    }
    iframe {
        width: 400px;
        height: 300px;
    }
}

footer {
    @extend .navbar;
    text-align: center;
    p {
        margin-bottom: 0;
        color: $color-secundary;
    }
}

/* media queries */

@media (max-width: 1580px) {
    main {
        div {
            .carousel-inner {
                height: 500px;
            }
        }
        .cards-varias {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 850px) {
    main {
        div {
            .carousel-inner {
                height: 200px;
            }
            .carousel-indicators {
                margin-bottom: 20px;
            }
        }
        .card {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .mensaje {
            padding-bottom: 110px;
        }
    }
}

@media (max-width: 850px) {
    main {
        .productos {
            flex-wrap: wrap;
        }
        .sobre-mi {
            flex-direction: column;
        }
    }
}
